/*Generic Items*/
html{
    background-color: #004d4d;
}

header{
    color: white;
    height:5em;
    padding:.5em;
    font-size: 2em;
}

main{
    margin:3em 10em 1em 10em;
    text-align: center;
    color:white;
    font-size: 1.5em;
}

footer{
    background-color: #8B4513;
    color: white;
    text-align: left;
    font-size: 1.2em;
    margin: 1em -1em 0 -1em;
    position: relative;
}
.foot{
    display: flex;
    justify-content: space-around;
}
#logo{
    margin-top:1em;
}

/*Nav Bar*/
.navbar{
    background-color: #8B4513;
    color: white;
    margin: 0 -2em 0 -2em;
    top: 0;
    position: sticky;
}
#navlist{
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
#navlist a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
#navlist a:hover{
    font-weight: bold;
}

/*index*/
.overview{
    background-color: teal;
    border-style: double;
    border-color: #8B4513 rgb(56, 27, 6);
    border-width: 2em;
}
#overviewPara{
    padding: 0em 1em 1em 1em;
}
.images{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*Proposal*/
#highConcept, #genre, #platform, #story, #esthetics, #gameplay, #about{
    background-color: teal;
    border-style: double;
    border-color: #8B4513 rgb(56, 27, 6);
    border-width: 2em;
    padding: 0em 1em 1em 1em;
    margin: 2em 0 2em 0;
}

/*Project*/
#temp{
    background-color: teal;
    border-style: double;
    border-color: #8B4513 rgb(56, 27, 6);
    border-width: 2em;
    padding: 0em 1em 1em 1em;
    margin: 2em 0 2em 0;
}

/*Documentation*/
#process,#status, #sources{
    background-color: teal;
    border-style: double;
    border-color: #8B4513 rgb(56, 27, 6);
    border-width: 2em;
    padding: 1em;
    margin: 2em 0 2em 0;
}
#sources {
    padding: 0em 1em 1em 1em;
}

/*Links*/
a:link{
    color:white;
}
a:visited{
    color:white;
}
a:focus{
    font-weight: bold;
}
a:hover{
    font-weight: bold;
}
a:active{
    font-weight: bold;
}
a{
    text-decoration: none;
    font-size: .85em;
}

/*For when the screen is real small*/
@media screen and (max-width: 850px)
{
    main{
        margin: 3em 0em 1em 0em;
        text-align: left;
        color:white;
        font-size: 1.5em;
    }
    footer{
        padding-left: 1em;
        padding-right: 1em;
    }
    .images{
        width:100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #screenshot1, #screenshot2, #screenshot3{
        width: auto;
    }
    #overviewPara{
        margin: 0;
        padding: 1em;
    }
}